@import '../../assets/scss/imports';

// Menu Trigger Button Styles
.menu-toggle-btn {
  position: fixed;
  left: 0;
  z-index: 99;
  top: 32px;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  // width: 287px;
  width: 120px;
  height: 90px;
  -webkit-box-shadow: 6px 4px 29px -8px rgba(25, 25, 25, 0.57);
  -moz-box-shadow: 6px 4px 29px -8px rgba(25, 25, 25, 0.57);
  box-shadow: 6px 4px 29px -8px rgba(25, 25, 25, 0.57);
  background: $MineShaft-5 url(/assets/images/burger-menu.svg) no-repeat right
    49px center;
  border-radius: 0px 100px 100px 0px;
  background-size: 40px auto;
  padding: 14px 101px 14px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 62px;
    max-height: 62px;
    max-width: 100%;
  }
  &:hover {
    cursor: pointer;
  }
}

// Menu Styles
.menu {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  //width: 20%;
  //max-width: 398px;
  min-width: 0px;
  width: 386px;
  z-index: 99;
  background: $MineShaft-5;
  -webkit-box-shadow: 5px 0px 10px 2px rgba(25, 25, 25, 0.5);
  -moz-box-shadow: 5px 0px 10px 2px rgba(25, 25, 25, 0.5);
  box-shadow: 5px 0px 10px 2px rgba(25, 25, 25, 0.5);
}

.menu {
  .menu-tabs {
    padding: 0px 18px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .show-gateway-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 18px 0px 18px;
  }
}
.menu-header {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: $MineShaft-5;
  border: none;
  outline: none;
  margin: 0px;
  padding: 38px 20px 53px 38px;
  cursor: pointer;
  > img {
    max-height: 97px;
  }
  .menu-header-title {
    font-size: 22px;
    color: $primary_white;
    font-weight: bold;
    font-family: 'Avenir LT Std', sans-serif;
    padding-right: 40px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  }
}
