@import "../../assets/scss/imports";
.email-v-msg {
  font-size: 18px;
  line-height: 24px;
  max-width: 325px;
  color: $Silver-1;
  margin: 10px auto 0 auto;
}
.pr-thank-u {
  .message {
    font-size: 18px;
    line-height: 30px;
    max-width: 300px;
    color: $Silver-1;
    margin: 40px auto 0 auto;
  }
  .btn-thank-u {
    width: 80%;
    margin: 50px auto 0px auto;
  }
}
.reset-password-form {
  margin-top: 55px !important;
  .form-group {
    .form-field-error {
      margin-bottom: 10px;
      text-align: right;
      padding-left: 20px;
      padding-right: 20px;
    }
    &.has-errors {
      > input {
        border-color: $Error !important;
      }
    }
  }
  .login-form-submit-btn {
    margin-bottom: 0px;
  }
}

.reset-password-form-container {
  padding: 50px 45px !important;
}
