.add-sip-btn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 9px;
  background: #008ae3;
  border: 1px solid #008ae3;
}
