@import '../../../assets/scss/imports';

.users-modal {
  padding: 69px 126px 31px 130px;
  overflow: auto;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  .modal-body {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    width: 100%;
    .admin-form {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-between;
    }
  }
}

.form-actions {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 31px;
  padding-top: 31px;
  &:before {
    content: '';
    background: rgba($DustyGray, 0.34);
    position: absolute;
    left: -130px;
    right: -126px;
    top: 0px;
    height: 1px;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $information_text;
  .i-modal-close {
    cursor: pointer;
    top: 41px;
    position: absolute;
    right: 59px;
  }

  .modal-title {
    font-size: 24px;
  }
}
.admin-form {
  margin-top: 30px;
  &.no-margin {
    margin: 0px;
  }
  .form-group {
    .form-input {
      background: none;
      font-size: 16px;
      border-width: 1px;
      border-radius: 5px;
      font-size: 18px;
      color: $Gray-4;
    }
    .form-select {
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
      outline: none;
      border-radius: 12px;
      border: 1px solid $panle_header_label;
      background: none;
      width: 100%;
      height: 50px;
      font-size: 18px;
      color: $Gray-4;
      padding-left: 21px;
      padding-right: 51px;
      cursor: pointer;
      /* for Firefox */
      -moz-appearance: none;
      /* for Chrome */
      -webkit-appearance: none;
      &:-ms-expand {
        display: none;
      }
    }
  }
  .form-col-container {
    display: flex;
    margin-top: 31px;
    &:first-of-type {
      margin-top: 0px;
    }
    .form-group {
      flex: 1;
      margin-right: 20px;
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
}

.form-user-password {
  width: 100%;
  .form-group {
    margin-right: 0px !important;
  }
}

.react-multi-select {
  width: 100%;
}
.users-header {
  padding-right: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-actions {
    .i-add-user,
    .i-user-organization {
      font-size: 30px;
      color: $primary_blue;
      cursor: pointer;
      background-color: rgba($primary_blue, 0.14);
      border-radius: 100px;
      padding: 8px 12px;
      max-width: 46px;
      max-height: 46px;
      margin: 5px 0;
    }
    .i-add-organization {
      font-size: 24px;
      color: $primary_blue;
      cursor: pointer;
    }
  }
}

.form-select-chevron {
  position: absolute;
  top: 6px;
  right: 4px;
  font-size: 42px;
  color: $Silver-3;
  pointer-events: none;
}

.table-selection-actions {
  position: absolute;
  top: -1px;
  right: 90px;
  height: 57px;
  display: flex;
  align-items: center;
  .sf-icon {
    font-size: 29px;
    cursor: pointer;
  }
  .i-activate-user {
    color: $primary_blue;
    &.with-margin {
      margin-right: 19px;
    }
  }
  .i-deactivate-user {
    color: $SilverChalice-1;
  }
}

.tbl-disabled-tr {
  &.all-disabled {
    > td {
      opacity: 0.5;
      &:first-child {
        opacity: 0.5;
      }
    }
  }
  > td {
    opacity: 0.5;

    &:first-child,
    &:last-child {
      opacity: 1;
    }
  }
}

.table-pagination-total {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $information_text;
}

.custom-pagination-total {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: flex-end;
  .pagination {
    margin: 0;
    margin-left: 30px;
    .page-link {
      padding: 0px;
      border: none;
      background: none;
      outline: none;
      font-size: 22px;
      line-height: normal;
      margin-left: 25px;
      margin-top: -1px;
      color: $Silver-3;
      &:hover {
        border: none;
        background: none;
        color: $DoveGray-2;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}

/* The container */
.tbl-checkbox-container {
  display: block !important;
  margin-bottom: 0px !important;
  position: relative;
  pointer-events: none;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 15px;
  height: 15px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:indeterminate {
      & ~ .checkmark {
        background-color: $DeYork;
        border-color: $DeYork;
        &:after {
          display: block;
        }
      }
    }
    &:checked {
      & ~ .checkmark {
        background-color: $DeYork;
        border-color: $DeYork;
        &:after {
          display: block;
        }
      }
    }
  }
  .checkmark {
    &:after {
      left: 4px;
      top: 2px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  border: solid 1px $CapeCod;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.form-image {
  height: 50px;
  border-radius: 5px;
  padding-left: 20px;
  border: solid 1px $panle_header_label;
  padding-right: 20px;
  display: flex;
  align-items: center;
  > input {
    visibility: hidden;
    position: absolute;
    z-index: -999;
    opacity: 0;
  }
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    .i-image-upload-camera {
      color: $panle_header_label;
      font-size: 34px;
      margin-right: 14px;
    }
    .form-image-ins {
      > p {
        font-size: 14px;
        color: $placeholder_text;
      }
      .image-size-info {
        color: $information_text;
        font-size: 10px;
        margin-top: 7px;
      }
    }
  }
  .i-modal-close {
    cursor: pointer;
    font-size: 7px;
    color: $Error;
  }
}

/* Multiple Select Role Design*/
.react-multi-select {
  .react-select__control {
    &.react-select__control--is-focused {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
    }
    background: $bg-color;
    border-radius: 5px !important;
    font-size: 18px;
    color: $Gray-4;
    min-height: 50px;
    width: 100%;
    border: 1px solid transparent !important;
    box-shadow: none !important;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;

    .react-select__indicators {
      .react-select__indicator-separator {
        width: 1px;
        margin: 0px !important;
        background-color: rgba($information_text, 0.42);
      }
      .react-select__clear-indicator {
        color: rgba($Error, 0.6);
        padding: 0px;
        margin-right: 9px;
        cursor: pointer;
      }
      .react-select__clear-indicator > svg {
        width: 13px;
        height: 13px;
      }
      .react-select__dropdown-indicator {
        margin-left: 7px;
        margin-top: 3px;
        cursor: pointer;
        color: rgba($information_text, 0.42);
      }
    }
  }

  .react-select__multi-value {
    height: 30px;
    border-radius: 8px !important;
    background-color: rgba($primary_blue, 0.22) !important;

    .react-select__multi-value__label {
      font-size: 18px;
      color: $information_text;
      margin-left: 11px;
      margin-top: 7px;
      margin-bottom: 4px;
      padding: 0px !important;
    }
    .react-select__multi-value__remove {
      &:hover {
        background-color: transparent;
      }
      margin: 12px 10px 10px 3px;
      color: rgba($Error, 0.6);
      padding: 0px !important;
      cursor: pointer;
    }
  }
}

.form-group {
  &.has-errors {
    .react-multi-select {
      .react-select__control {
        border-color: $Error !important;
      }
    }
  }
  &.valid {
    .react-multi-select {
      .react-select__control {
        border-color: $primary_blue !important;
      }
    }
  }
}

.react-select__menu {
  background-color: $bg-color !important;
  outline: none !important;
  border: none !important;
  // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
  .react-select__option {
    display: flex;
    align-items: center;
    height: 29px;
    padding: 0px 19px;
    color: $information_text;
    font-size: 14px;
    font-weight: 300;
    &.react-select__option--is-focused {
      cursor: pointer;
      color: $menu_active_tab_text;
      background: rgba($MineShaft-4, 1);
    }
  }
}
