@import '../../assets/scss/imports';
.gateway-info-panel {
  // position: fixed;
  // right: 102px;
  // left: 412px;
  // top: -98px;
  // z-index: 97;
  // display: flex;
  // justify-content: center;
  // transition: 0.4s ease all;
  // margin-top: -11px;
  // border-radius: 0px 0px 10px 10px;
  // background: rgba($MineShaft-5, 0.46);
  // height: 147px;
  // padding: 38px;

  z-index: 97;
  display: flex;
  justify-content: center;
  transition: 0.4s ease all;
  margin-top: -11px;
  border-radius: 0px 0px 10px 10px;
  background: rgba(34, 34, 34, 0.46);
  height: 147px;
  padding: 38px;
  width: 75vw;
  left: 60%;
  top: 0;
  transform: translate(-50%, 0);
  position: absolute;

  .menu-open-btn {
    position: absolute;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    bottom: 0px;
    height: 36px;
    width: 40px;
    transition: 0.4s ease all;
    transform: rotate(180deg);
  }

  &.open {
    top: -98px;

    .menu-open-btn {
      transform: rotate(0deg);
    }
  }

  &.squeezed-2x {
    left: 835px;
  }
  .gateway-info {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    background: #343434;
    padding: 11px 20px;
    border-radius: 8px;
    margin-right: 37px;
    // max-width: 240px;
    min-width: 190px;
    justify-content: center;
    width: 15vw;

    &:last-of-type {
      margin-right: 0px;
    }
    .i-trigrd {
      font-size: 18px;
      margin-right: 16px;
      margin-top: -4px;
      color: $primary_white;
    }
    .gateway-count {
      display: flex;
      align-items: center;
      .count {
        font-size: 24px;
        font-weight: bold;
        color: $primary_white;
      }
    }
    .gateway-status {
      margin-top: 9px;
      .info-type {
        color: $primary_white;
        font-size: 16px;
      }
    }

    &.triggered {
      .count {
        color: $gateway_list_item_triggered_selected_border;
      }
    }

    &.verified {
      .count {
        color: $secondary_blue;
      }
    }

    &.acknowledged {
      .count {
        color: $Acknowledge;
      }
    }

    &.armed {
      .count {
        color: $gateway_count_green;
      }
      .i-trigrd {
        font-size: 20px;
      }
    }
  }
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
