@import '../../assets/scss/imports';
/* Multiple Select Role Design*/
.react-multi-select {
  .react-select__control {
    &.react-select__control--is-focused {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
    }
    background: $bg-color;
    border-radius: 5px !important;
    font-size: 18px;
    color: $Gray-4;
    height: 50px;
    width: 100%;
    border: 1px solid $Silver-2 !important;
    box-shadow: none !important;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;

    .react-select__indicators {
      .react-select__indicator-separator {
        width: 0px;
      }
    }
  }
}

.form-group {
  &.has-errors {
    .react-multi-select {
      .react-select__control {
        border-color: red !important;
      }
    }
  }
  &.valid {
    .react-multi-select {
      .react-select__control {
        border-color: $primary_blue;
      }
    }
  }
}
