
.label {
  display: flex;
  font-size: 15px;
  color: #bfbfbf;
  padding: 7px;
}
.top-label{
  display: flex;
  font-size: 16px;
  color: #bfbfbf;
  padding-bottom: 15px;
  font-weight: bold;
  display: inline-block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}