.badge {
  border-radius: 15px;
  background-color: #f0d912;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  font-weight: bold;
  color: #4f4d40;
  padding: 3px 6px;
  letter-spacing: 0.7px;
}
