@import '../../assets/scss/imports';
/* The switch - the box around the slider */
.toggle-switch {
  display: flex;
  align-items: center;
  .label {
    font-family: 'Avenir LT Std', sans-serif;
    font-size: 16px;
    color: $Gray-4;
    margin-right: 11px;
  }
}

.toggle-switch.disabled {
  cursor: no-drop;
  opacity: 0.6;
  .slider {
    cursor: no-drop;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 15px;
}

.switch {
  &.incident {
    input:checked + .slider {
      background-color: $gateway_list_item_triggered_selected_bg;
      // box-shadow: 0 0 3.2px 1.8px rgba(255, 209, 188, 0.54);
    }
  }
  &.verified {
    input:checked + .slider {
      background-color: $VerifiedGateway;
      // box-shadow: 0 0 3.2px 1.8px rgba(255, 181, 184, 0.54);
    }
  }
  &.acknowledged {
    input:checked + .slider {
      background-color: $gateway_list_item_acknowledged_selected_bg;
      // box-shadow: 0 0 3.2px 1.8px rgba(179, 235, 247, 0.54);
    }
  }
  &.green {
    input:checked + .slider {
      background-color: $radio_btn_bg;
      box-shadow: none;
    }
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $Silver;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}

.slider.round:before {
  position: absolute;
  content: '';
  height: 9px;
  width: 9px;
  left: 3px;
  bottom: 3px;
  background-color: $primary_white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $DodgerBlue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}
