@import "../../assets/scss/imports";
.us-change-password {
  margin-top: 30px;
  .cp-lbl {
    color: $Abbey;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0px;
    }
  }
  .form-actions {
    margin-top: 30px;
  }
}
