.organizations-modal {
  overflow: auto;
  min-height: 100%;
  position: relative;
  @media screen and (min-width: 320px) {
    padding: 69px 90px 31px 90px;
  }
  @media screen and (min-width: 1440px) {
    padding: 69px 126px 31px 130px;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .modal-title {
    font-size: 24px;
  }
}
// .admin-form {
//   margin-top: 30px;
//   .form-group {
//     .form-input {
//       background: none;
//       font-size: 16px;
//       height: 40px;
//       border-width: 1px;
//     }
//   }
//   .form-col-container {
//     display: flex;
//     margin-top: 20px;
//     &:first-of-type {
//       margin-top: 0px;
//     }
//     .form-group {
//       flex: 1;
//       margin-right: 20px;
//       &:last-of-type {
//         margin-right: 0px;
//       }
//     }
//   }
// }

.email-password-container {
  display: flex;
  align-items: center;  
  margin-top: 21px;
}
