@import '../../assets/scss/imports';

.filter-by-sector {
  .accordion {
    padding: 0px 15px;
    height: 49px;
    background: $Gray-6;
    border: 1px solid $Tuna;
    .accordion-label {
      font-family: 'Avenir LT Std', sans-serif;
      font-weight: 500;
      color: $primary_white;
      font-size: 16px;
      letter-spacing: 1.5px;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    }
  }
  .panel {
    background: $MineShaft-4;
  }
  .panel-content {
    padding: 15px;
  }
  .i-chevron-down-after {
    &:after {
      content: $icon-down-chevron;
      float: right;
      margin-left: 5px;
      font-size: 16px;
      color: $primary_white;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
      transform: rotate(180deg);
    }
    &.active {
      &:after {
        transform: rotate(0deg);
        content: $icon-down-chevron;
      }
    }
  }

  .filter-by-sector-checkbox {
    margin-top: 12px;
    &:first-of-type {
      margin-top: 0px;
    }
    > input[type='checkbox'] {
      display: none;
      & ~ .checkbox-toggle {
        outline: none;
        display: flex;
        align-items: center;
        flex: 1;
        height: 100%;
        cursor: pointer;
        .i-sf-checkbox {
          font-size: 18px;
          margin-right: 15px;
          color: $Gray-6;
          &:before {
            content: $icon-black-checkbox;
          }
        }
      }

      &:checked {
        & ~ .checkbox-toggle {
          .i-sf-checkbox {
            color: $primary_white;
            &:before {
              content: $icon-black-checkbox-checked;
            }
          }
        }
      }
    }
  }

  .f-chkbx-lbl {
    font-weight: 500;
    color: $primary_white;
    font-size: 14px;
    letter-spacing: 1.3px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  }
}
