@import "../../assets/scss/imports";

.filter-toggle-btn {
  background: none;
  border: none;
  outline: none;
  padding: 0px;
  margin-left: 15px;
  cursor: pointer;
  .i-filter-results {
    font-size: 23px;
    margin-top: 5px;
    display: block;
    color: $Nobel-2;
  }
  &.toggle-active {
    .i-filter-results {
      color: $Malibu-2;
    }
  }
}
