*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Avenir Roman';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $primary_bg;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
}

.btn {
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  &:disabled {
    cursor: no-drop;
  }
  &.btn-mini-danger {
    color: $primary_btn_text;
    background: $DoveGray-2;
    line-height: 1.65;
    font-size: 12px;
    padding: 4px 15px;
    border-radius: 5px;
    &:disabled {
      opacity: 0.34;
    }
    &:hover {
      background-color: $VenetianRed;
    }
  }
  &.btn-mini-primary {
    color: $primary_btn_text;
    background: $primary_btn_bg;
    line-height: 1.65;
    font-size: 12px;
    padding: 4px 15px;
    border-radius: 5px;
    &:disabled {
      opacity: 0.34;
    }
    &:hover {
      background-color: $primary_btn_bg_hover;
    }
  }
  &.btn-blue {
    width: 100%;
    color: $primary_btn_text;
    background: $primary_btn_bg;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    &:disabled {
      opacity: 0.34;
    }
    &:hover {
      background-color: $primary_btn_bg_hover;
    }
  }
}

.custom-infowindow {
  padding: 0;
  background: $MineShaft;
  width: 100%;
  min-width: 350px;
  max-width: 450px;
  p {
    padding: 5px 10px 5px;
    font-size: 11px;
    font-weight: bold;
    color: $Mercury;
    text-transform: capitalize;
    &.gray-title {
      background: $Gray;
    }
    &.main-title {
      font-size: 10px;
      font-weight: normal;
      padding-bottom: 0;
    }
  }
}

.btn-voipcall {
  color: $primary_btn_text;
  background: $primary_btn_bg;
  border-radius: 7px;
  font-size: 14px;
  letter-spacing: 0.14px;
  color: $Mercury-1;
  padding: 0px 10px;
  height: 23px;
  &:disabled {
    opacity: 0.34;
  }
  &:hover {
    background-color: $primary_btn_bg_hover;
  }
}

.d-none {
  display: none;
}

.d-none-imp {
  display: none !important;
}

.w50 {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.gm-overides {
  > div {
    background: $MineShaft-1 !important;
  }
  .gm-style {
    .gm-ui-hover-effect {
      display: none !important;
    }
    .gm-style-iw-c {
      padding: 0 !important;
      border-radius: 0;
      border: none;
      box-shadow: none;
    }
    .gm-style-iw-d {
      overflow: auto !important;
      overflow-x: hidden !important;
    }
    .gm-style-iw-t {
      bottom: 60px !important;
      &:after {
        background: $MineShaft-1;
      }
    }
  }
}

.login-form {
  min-height: 472px;
  background: $primary_white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  padding: 60px 45px;
  text-align: center;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  > form {
    margin-top: 60px;
  }
  input,
  textarea {
    font-family: 'Avenir LT Std', sans-serif;
    background: none;
    color: $Emperor;
    font-size: 18px;
    height: 60px;
    padding: 0px 20px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border: 1px solid $Gallery-1;
    &::placeholder {
      color: $placeholder_text;
    }
    &.username {
      -webkit-border-top-left-radius: 4px;
      -webkit-border-top-right-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-topright: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &.password {
      border-top: none;
      -webkit-border-bottom-right-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    // &:focus {
    //   outline: none;
    // }
    // &:focus ~ label,
    // &:valid ~ label {
    //   top: -14px;
    //   font-size: 12px;
    //   font-weight: bold;
    //   color: $hl-color;
    // }
    // &:focus ~ .bar:before {
    //   width: 100%;
    // }
  }
  label {
    color: $muted-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 10px;
    transition: $trans-time ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: $hl-color;
      transition: $trans-time ease all;
      left: 0%;
    }
  }
}

input {
  outline: none !important;
  &:focus {
    border-color: $placeholder_text;
    box-shadow: none !important;
    background-position: 0 0 !important;
  }
}

//form
.form-group {
  &.has-errors {
    .form-input,
    .form-select,
    .form-image {
      border-color: $Error;
      &:focus {
        border-color: $Error !important;
      }
    }
  }
  &.valid {
    .form-input,
    .form-select,
    .form-image {
      border-color: $primary_blue;
      &:focus {
        border-color: $primary_blue !important;
      }
    }
  }
  .input-lbl {
    display: block;
    font-size: 18px;
    color: $Abbey;
    margin-bottom: 5px;
  }
  .form-input {
    height: 50px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid $panle_header_label;
    background: $Mercury-2;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-family: 'Avenir Roman';
    &:focus {
      border-color: $information_text;
      color: $information_text;
      &::placeholder {
        color: $information_text;
      }
    }
  }
  .form-field-error {
    font-size: 14px;
    color: $Error;
    margin-top: 10px;
    display: block;
    text-align: right;
    &:before {
      content: url('/assets/icons/error-warning.svg');
      width: 10px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}
.form-success {
  display: block;
  text-align: center;
  color: $Apple;
}

.menu-act-btns {
  flex-shrink: 0;
  margin: 0px 0px 0px 0px;
  background-color: $MineShaft-2;
}
.menu-act-btn {
  display: flex;
  width: 100%;
  padding: 0px 39px 0px 39px;
  align-items: center;
  min-width: 0px;
  outline: none;
  cursor: pointer;
  background: rgba($MineShaft-3, 0.7);
  height: 56px;
  border: none;
  flex-shrink: 0;
  color: $panle_header_label;
  .sf-icon {
    display: flex;
    min-width: 0px;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    width: 21px;
    margin-right: 25px;
    margin-top: 0px;
  }
  .m-btn-title {
    font-size: 14px;
    font-family: 'Avenir LT Std', sans-serif;
  }
  &:hover {
    color: $primary_white;
    background: rgba(0, 0, 0, 0.6);
  }

  // &:after {
  //   content: "\e905";
  //   position: absolute;
  //   right: 59px;
  //   transform: rotate(270deg);
  //   color: $primary_white;
  //   font-size: 9px;
  // }
}
.user-setting {
  height: 94px;
  display: flex;

  .menu-act-btn {
    width: 292px;
    height: 100%;
    background-color: rgba($MineShaft-3, 0.7);
    padding: 28px 18px 27px 31px;
    .user-name-thumbanil {
      height: 39px;
      width: 39px;
      margin-right: 18px;
    }
    .user-settings-label-cnt {
      display: flex;
      flex-direction: column;
      text-align: left;
      line-height: 1.25;

      > span {
        font-size: 14px;
        color: $Gray-2;
        &.highlight {
          color: $primary_white;
          font-size: 20px;
        }
      }
    }
  }
  .checkout-button {
    background: $MineShaft-3;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 100%;
    &:hover {
      color: $Gray-3;
    }
  }
  .checkout-icon {
    font-size: 27px;
    color: $Gray-3;
    &:hover {
      color: $primary_white;
    }
  }
}

.btn-form-action {
  height: 44px;
  border: none;
  min-width: 162px;
  color: $primary_white;
  font-size: 16px;
  border-radius: 12px;
  background: none;
  font-family: 'Avenir LT Std', sans-serif;
  outline: none;
  cursor: pointer;
  &.primary-btn {
    background: $primary_blue;
  }
  &.secondary-outline {
    border: 1px solid $Emperor-2;
    color: $Emperor-2;
  }
  &:disabled {
    opacity: 0.4;
    cursor: no-drop;
  }
}
.panel-outer-container {
  padding: 42px;
}
.panel-container {
  background: $primary-dark;
  padding: 32px;
  border-radius: 5px;
  box-shadow: 0 0 29px 0 rgba($Black, 0.54);

  &.panel-with-header {
    border-radius: 0px;
    padding: 0px;
    background: none;
    .panel-header {
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: $primary-dark;
      border-bottom: 1px solid rgba($CapeCod, 1);
    }
    .panel-body {
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background: $primary-dark;
      padding: 0px 32px;
    }
  }
}

.date-controls {
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  top: 5px;
  bottom: 5px;
  justify-content: space-between;
  .sf-icon {
    font-size: 10px;
    cursor: pointer;
    color: $primary_blue;
    font-weight: bold;
  }
  .date-up {
    transform: rotate(180deg);
  }
}
.btn-download-icon {
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 32px;
  color: $primary_blue;
  cursor: pointer;
}
.tabs-btn-container {
  display: flex;
  .tab-btn {
    min-width: 215px;
    padding: 0px 20px;
    outline: none;
    border: none;
    background: none;
    height: 56px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Avenir LT Std', sans-serif;
    font-weight: 900;
    color: $panle_header_label;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .count {
      min-width: 25px;
      min-height: 25px;
      border-radius: 50%;
      font-size: 10px;
      font-weight: 600;
      background: rgba($Nobel, 0.3);
      color: $primary_light_gray;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      pointer-events: none;
    }
    &.active-tab {
      background: rgba($primary_blue, 0.07);
      color: $primary_blue;
      .count {
        background: rgba($primary_blue, 0.14);
        color: $primary_blue;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        height: 5px;
        left: 0px;
        right: 0px;
        background: $primary_blue;
      }
    }
  }
}

.pos-r {
  position: relative;
}

.pac-container {
  z-index: 99999999;
}

.autocomplete-search-container {
  position: absolute;
  height: 33px;
  left: 35px;
  right: 35px;
  top: 18px;
  border-radius: 12px;
  box-shadow: -0.6px 0.8px 2.5px 0.5px rgba(108, 108, 108, 0.22);
  border: solid 1px $Silver-3;
  background-color: $BigStone;
  > input {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    color: $Gray-4;
    outline: none;
    font-size: 12px;
    padding-right: 17px;
    padding-left: 44px;
    &:focus {
      box-shadow: none;
    }
  }
}

input,
span,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
select,
option {
  font-family: 'Avenir Roman';
}

.detail-fieldset {
  border: solid 1px $DoveGray;
  border-radius: 8px;
  padding: 25px 20px;
  > legend {
    padding-left: 13px;
    padding-right: 16px;
    color: $Silver-4;
    font-size: 18px;
    line-height: 1.01;
  }
  .detail-fields-container {
    margin-left: 13px;
  }
}

.details-form-input {
  > label {
    display: block;
    font-size: 14px;
    color: $Gallery-2;
    letter-spacing: 0.14px;
    font-weight: 500;
  }
  .detail-input,
  .detail-textarea {
    width: 100%;
    height: 44px;
    border: 1px solid rgba($Mercury-1, 0.34);
    background: rgba($Tuatara, 0.34);
    color: $information_text;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 8px;
    padding-left: 11px;
    padding-right: 11px;
  }
  .detail-textarea {
    height: 78px;
    font-family: 'Avenir LT Std';
    resize: none;
  }
}

.event-report-details {
  margin: 24px 0px;
  .detail-input {
    margin-top: 14px;
  }
  > label {
    color: $panle_header_label;
  }
}

.event-action-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 10px;
  .alarm-label {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.14px;
    color: $panle_header_label;
  }
  .action-form {
    padding: 0px 12px;
  }
  .detail-textarea {
    border-radius: 9px;
    border: solid 1px $DoveGray-1;
    background: none;
    margin-top: 14px;
    padding: 15px 17px;
  }
}

.btn-action-submit {
  height: 25px;
  border-radius: 5px;
  background: $primary_btn_bg;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  color: $primary_btn_text;
  cursor: pointer;
  width: 100%;
  &:disabled {
    cursor: no-drop;
    opacity: 0.4;
  }
  &:hover {
    background-color: $primary_btn_bg_hover;
  }
}

// Hide Google Map Logo and Copyright
.gm-style-cc, a[href^="http://maps.google.com/maps"], a[href^="https://maps.google.com/maps"]
{
  display: none !important;
}

// Dashboard Menu Tabs
.menu-tabs {
  display: flex;
  width: 100%;
}

.menu-tab {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  background: $Dune;
  height: 51px;
  position: relative;
  border: none;
  outline: none;
  color: $primary_white;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: solid 1px $Shark-1;
  box-shadow: -1.7px 1.1px 4px 0 rgba(0, 0, 0, 0.23);
  cursor: pointer;
  width: 175px;
  &.active-tab {
    background: $primary_blue;
    border: none;
    box-shadow: none;
    > span {
      color: $menu_active_tab_text;
    }
  }
  > span {
    pointer-events: none;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color: $information_text;
  }
  &:first-child {
    border-radius: 8px 0px 0px 8px;
  }
  &:last-child {
    border-radius: 0px 8px 8px 0px;
  }
  &:only-child {
    border-radius: 8px !important;
  }
}

.menu-sub-tabs {
  border-bottom: 1px solid rgba($Gray-3, 0.4);
  text-align: center;
  margin-top: 15px;
  .sub-tab {
    background: none;
    outline: none;
    border: none;
    font-size: 12px;
    letter-spacing: 0.12px;
    color: $information_text;
    position: relative;
    padding: 6px 5px;
    margin-right: 15px;
    cursor: pointer;
    &:last-child {
      margin-right: 0px;
    }
    &:hover {
      color: $gateway_information_text_hover;
    }
    &.active {
      color: $gateway_information_text_hover;
      font-size: 16px;
      &:after {
        content: '';
        bottom: 0px;
        left: 0px;
        width: 100%;
        position: absolute;
        height: 3px;
        background: $gateway_information_text_hover;
      }
    }
  }
}

// Date-picker

.single-date-picker {
  .datepicker {
    display: flex;
    align-items: center;
    position: relative;
    .date-controls {
      right: 76px;
      top: 10px;
      bottom: 10px;
    }
    .insights-date {
      font-weight: 500;
      font-size: 15px;
      color: $information_text;
      padding: 7px 27px 6px 9px;
      margin-right: 20px;
      border-radius: 6px;
      border: 1px solid rgba(205, 205, 205, 0.55);
      cursor: pointer;
    }
    .react-date-picker {
      .react-date-picker__wrapper {
        border: none;
      }
      .react-date-picker__inputGroup,
      .react-date-picker__clear-button {
        display: none;
      }
      .react-date-picker__calendar-button {
        padding: 0px;
        outline: none;
        .sf-icon {
          font-size: 41px;
          color: $primary_blue;
        }
      }
    }
    .react-date-picker__calendar {
      width: 273px;
      .react-calendar {
        border: none;
        border-radius: 5px;
        box-shadow: 0px 3px 38px 0 rgba(183, 183, 183, 0.54);
        width: 273px;
        .react-calendar__navigation {
          .react-calendar__navigation__prev2-button,
          .react-calendar__navigation__next2-button {
            display: none;
          }
        }
        .react-calendar__viewContainer {
          padding: 0px 20px 15px 20px;
        }
        .react-calendar__month-view__weekdays {
          border-bottom: 1px solid $primary_blue;
          margin-bottom: 10px;
          font-size: 12px;
          color: $Gray-4;
          text-transform: none;
          .react-calendar__month-view__weekdays__weekday {
            > abbr {
              text-decoration: none;
              font-size: 12px;
            }
          }
        }

        .react-calendar__month-view__days__day {
          &:hover {
            background: PictonBlue;
            border-radius: 50%;
            color: $primary_white;
          }
        }
        .react-calendar__tile {
          font-size: 12px;
          color: $CapeCod;
        }
        .react-calendar__tile--active {
          background: PictonBlue;
          border-radius: 50%;
          color: $primary_white;
        }
        .react-calendar__month-view__days__day--neighboringMonth {
          color: $Silver-3;
        }
      }
    }
  }
}

// History Event/Response Unit Modal
.history-event-detail {
  overflow: auto;
  min-height: 100%;
  position: relative;
  background-color: $Alabaster;
}
.line {
  font-size: 8px;
  color: $Gray-4;
  align-self: center;
  position: absolute;
}
.history-detail-header {
  padding: 27px 18px 22px 18px;
  border-bottom: 1px solid rgba($CapeCod, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  color: $CapeCod;
  > h2 {
    font-size: 18px;
  }
  a{
    text-decoration: none !important;
  }
  .i-modal-close {
    font-size: 15px;
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
  }
  .i-download {
    color: $primary_blue;
    margin-left: 5px;
    cursor: pointer;
  }
}

.timeline-detail-body {
  padding: 20px 0px;

  .timeline-box {
    padding-left: 33px;
    padding-right: 38px;
  }

  .timeline-legend {
    position: relative;
    width: 100%;
    height: 33px;
    .bordered-line {
      position: absolute;
      left: 0px;
      right: 0px;
      height: 1px;
      top: 18px;
      background: rgba($CapeCod, 0.1);
    }
    .timeline-date {
      display: inline-flex;
      height: 33px;
      align-items: center;
      padding: 5px 14px;
      border-radius: 10px;
      border: 1px solid rgba($CapeCod, 0.1);
      font-size: 12px;
      letter-spacing: 0.12px;
      color: $CapeCod;
      position: absolute;
      background: $Alabaster;
      top: 0px;
      &.left {
        left: 41px;
      }
      &.right {
        right: 41px;
      }
    }
  }
  .timeline .timeline-item {
    .actioned-by {
      color: $SilverChalice;
    }
    .a-origin,
    .a-video-feed {
      color: $Gray-4;
    }
    .event-detail {
      .description,
      .time {
        color: $Gray-4;
        text-shadow: none;
      }
    }
  }
}

.history-detail-body {
  padding: 20px 18px;

  .history-section {
    margin-top: 20px;
    &:first-child {
      margin-top: 0px;
    }
  }

  .section-title {
    font-size: 14px;
    color: $primary_blue;
    margin-bottom: 20px;
  }

  .detail-box {
    background: $Concrete;
    > h3,
    .g-address,
    .g-info-name,
    .g-info-number,
    .g-info-stat-item .count,
    .g-info-stat-item .sf-icon,
    .contact .name,
    .contact .number {
      color: $panle_header_label;
    }
    .contact .line {
      background: $panle_header_label;
    }
    .g-address {
      font-size: 14px;
      &:before {
        top: 2px;
      }
    }
    .g-info-stat-item,
    .contact {
      background: $Gallery-1;
    }
  }
}

.history-detail-tabs {
  .menu-sub-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 19px;
    .sub-tab {
      flex: 1;
      color: $primary_blue;
    }
  }
}

.distance-time-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-right: -8px;
  .trip-distance,
  .trip-time {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background: $Gallery-1;
    color: $Gray-4;
    margin-right: 8px;
    border-radius: 10px;
    > span {
      margin-top: 13px;
      font-size: 18px;
    }
    .sf-icon {
      font-size: 20px;
    }
  }
}

.btn-view-realtime-trip {
  margin-top: 16px;
}

// Alex Modal Overrides
#modal-alex-box {
  .modal-lightbox {
    z-index: 9999999999999; //always stay at top of the stack
    background: rgba($Shark, 0.86);
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}
