$primary_blue: #008ae3;
$secondary_blue: #3d8cfe;
$primary_green: #89bf6e;
$primary_yellow: #feac52;
$primary_orange: #0d3252;
$primary_white: #ffffff;
$primary_dark: #232323;
$primary_bg: #2a2a2a;
$primary_light_gray: #e0e0e0;
$search_active_border: #a8a5a5;
$Acknowledge: #3dd8c8;
$VerifiedGateway: #1176FF;

$gateway_list_item_bg: #292929;
$gateway_list_item_armed_selected_bg: #184930;
$gateway_list_item_triggered_selected_bg: #e0693f;
$gateway_list_item_verified_selected_bg: #154b79;
$gateway_list_item_acknowledged_selected_bg: #3dd8c8;
$gateway_list_item_idle_selected_bg: #d0d0d0;

$gateway_list_item_armed_selected_border: $primary_green;
$gateway_list_item_triggered_selected_border: #f97b4e;
$gateway_list_item_verified_selected_border: $primary_orange;
$gateway_list_item_acknowledged_selected_border: $Acknowledge;
$gateway_list_item_idle_selected_border: $primary_white;

$gateway_count_green: $primary_green;
$gateway_count_yellow: $primary_yellow;
$gateway_count_orange: $primary_orange;
$gateway_count_blue: $secondary_blue;
$gateway_count_white: $primary_white;

$gateway_information_text_hover: $primary_blue;

$panle_header_label: #909090;
$placeholder_text: #6a6969;
$information_text: #bfbfbf;
$secondary_information_text: #e6e6e6;
$menu_active_tab_text: #f0f0f0;
$actioned_by: #747474;

$primary_btn_bg: $primary_blue;
$primary_btn_bg_hover: #209ff1;
$primary_btn_text: $primary_white;

$radio_btn_bg: $primary_green;
$toogle_btn_enable_bg: $primary_green;
$toogle_btn_disable_bg: #888888;

$Black: #000000;
$Silver: #cccccc;
$Silver-1: #c2c1c1;
$Silver-2: #bbbbbb;
$Silver-3: #c5c5c5;
$Silver-4: #c2c2c2;
$Silver-5: #cdcdcd;
$Silver-6: #b8b8b8;
$Error: #e64551;
$Viking: #5dc6d1;
$Apple: #4bb543;
$Success: #28a745;
$DeYork: #7cc576;
$GreenHaze: #00a651;
$ForestGreen: #23b224;
$OceanGreen: #36b37e;
$Jewel: #11643a;
$bg-color: #424242;
$Gallery: #ebebeb;
$Gallery-1: #eeeeee;
$Gallery-2: #f0f0f0;
$Cerulean: #008ae3;
$Cerulean-1: #0b9bce;
$Cerulean-2: #00bff3;
$Cerulean-3: #098ce1;
$DodgerBlue: #2196f3;
$CyanAqua: #00ccff;
$Bermuda: #7cc7d9;
$MineShaft: #2d2d2d;
$MineShaft-bg: #202020;
$MineShaft-1: #313131;
$MineShaft-2: #292929;
$MineShaft-3: #343434;
$MineShaft-4: #353535;
$MineShaft-5: #222222;
$MineShaft-6: #221f1e;
$MineShaft-7: #262626;
$MineShaft-8: #303030;
$MineShaft-9: #2c2c2c;
$MineShaft-10: #3c3c3c;
$MineShaft-11: #333333;
$MineShaft-12: #3e3e3e;
$MineShaft-13: #3d3d3d;
$Mako: #3f4148;
$Mercury: #e7e7e7;
$Mercury-1: #e6e6e6;
$Mercury-2: #e3e1e1;
$DustyGray: #959595;
$CodGray: #171717;
$shadowGray: #191919;
$BrightGray: #3c444c;
$Gray: #7e7e7e;
$Gray-2: #8e8e8e;
$Gray-3: #939393;
$Gray-4: #888888;
$Gray-5: #8a8a8a;
$Gray-6: #818181;
$Gray-7: #898989;
$Mercury: #e9e9e9;
$Mercury-1: #e5e5e5;
$Emperor: #545454;
$Emperor-2: #555555;
$Emperor-3: #535353;
$Malibu: #80bdff;
$Malibu-2: #7bc5fb;
$Malibu-3: #62d1ff;
$Abbey: #505051;
$Alabaster: #f8f8f8;
$CapeCod: #3c3e3f;
$CapeCod-2: #414344;
$Nobel: #b7b7b7;
$Nobel-2: #b4b4b4;
$Nevada: #6c6e6f;
$BigStone: #16253c;
$Tuatara: #30302f;
$DoveGray: #707070;
$DoveGray-1: #6c6c6c;
$DoveGray-2: #737373;
$Shark: #2c2e2f;
$Shark-1: #272829;
$Shark-2: #282b32;
$Dune: #2a2827;
$Seashell: #f1f1f1;
$PictonBlue: #2e9fe8;
$PictonBlue-1: #32cbf4;
$Concrete: #f2f2f2;
$SilverChalice: #a3a3a3;
$SilverChalice-1: #a7a7a7;
$Tundora: #444444;
$Boulder: #777777;
$Tuna: #303339;
$ShuttleGray: #566369;
$Red: #ff0000;
$Red-2: #e00000;
$Monza: #d3040c;
$Tamarillo: #990e13;
$VenetianRed: #7a0314;
$TorchRed: #e8002e;
$Crimson: #ed1c24;
$Flamingo: #f34343;
$RedDamask: #d8624f;
$Orange: #ff6d1b;
$WebOrange: #ffab00;
$Denim: #0b46ce;
$Geebung: #d88721;
$PirateGold: #ca8604;
$Punch: #da4020;
$Alto: #d8d8d8;
$Alto-1: #d7d7d7;
$TropicalBlue: #c0e3f8;
$Mirage: #171b23;
$TropicalBlue: #cde9f9;
$ButterflyBush: #4f509a;
$Whiskey: #d7a969;
$RawSienna: #d5794e;
$ShingleFawn: #784c37;
$Beaver: #906f5f;
$BlueDianne: #26505b;
$Calypso: #297083;
$Moccaccino: #721418;
$Candlelight: #ffd323;
$Onahau: #ccebff;
$EarlyDawn: #fffae6;
$Scandal: #e3fcef;
$ClassicRose: #fbd1d9;
$Jumbo: #8a8a8d;
$Anakiwa: #8dd4ff;
$SliverChalice: #acacac;
$Sundown: #ffb9b9;
$Sirocco: #707475;
$Bombay: #adadae;

$hl-color: $Viking;
$muted-color: mix(white, $bg-color, 50%);
$trans-time: 300ms;

/* Font Family */
$icons: 'safecitydashboardicons';

/* Font Icons Variable*/
$icon-signout-new: '\e900';
$icon-filter-results: '\e908';
$icon-search: '\e901';
$icon-police-car-outline: '\e902';
$icon-alarm: '\e903';
$icon-alert: '\e904';
$icon-down-chevron: '\e905';
$icon-black-checkbox: '\e906';
$icon-black-checkbox-checked: '\e907';
$icon-shield: '\e90a';
$icon-home: '\e909';
$icon-building: '\e90f';
$icon-crawling-baby: '\e90e';
$icon-standing-man: '\e90d';
$icon-disabled: '\e90b';
$icon-pawprint: '\e90c';
$icon-settings: '\e912';
$icon-close: '\e914';
$icon-edit-pencil: '\e917';
$icon-delete: '\e916';
$icon-roles: '\e915';
$icon-user: '\e971';
$icon-calendar: '\e918';
$icon-dashboard: '\e91a';
$icon-delete-new: '\e91b';
$icon-download: '\e91d';
$icon-edit-new: '\e91e';
$icon-export: '\e91f';
$icon-history: '\e920';
$icon-insights: '\e921';
$icon-logout: '\e922';
$icon-role: '\e923';
$icon-setting: '\e924';
$icon-user-outline: '\e926';
$icon-pause: '\e927';
$icon-play: '\e928';
$icon-organization: '\e929';
$icon-search-magnifier: '\e92c';
$icon-search-filter-by: '\e92b';
$icon-search-chevron-down: '\e92a';
$icon-add-user: '\e92d';
$icon-deactivate-user: '\e92e';
$icon-activate-user: '\e92f';
$icon-image-upload-camera: '\e931';
$icon-error-warning: '\e930';
$icon-add-organization: '\e934';
$icon-operations: '\e935';
$icon-radio-unchecked: '\e937';
$icon-radio-checked: '\e936';
$icon-baby-outline: '\e93e';
$icon-building-outline: '\e93d';
$icon-disabled-outline: '\e93c';
$icon-paw-outline: '\e93b';
$icon-map-distance-outline: '\e93a';
$icon-map-time-outline: '\e939';
$icon-person-outline: '\e938';
$icon-address-outline: '\e93f';
$icon-comment: '\e942';
$icon-round-phone: '\e943';
$icon-acc-mgmnt: '\e944';
$icon-power-mgmnt: '\e945';
$icon-info-message: '\e946';
$icon-camera: '\e947';
$icon-expand: '\e948';
$icon-mac: '\e949';
$icon-video-feed: '\e9cb';
$icon-info-card: '\e94a';
$icon-subscription: '\e94b';
$icon-car: '\e94c';
$icon-wall-clock: '\e94d';
$icon-connector-line: '\e94e';
$icon-time: '\e94f';
