.organization-details-container {
  padding: 30px 0px;
}
.org-detail-row {
  margin-bottom: 30px;
  &:last-of-type {
    margin-bottom: 0px;
  }
}

.org-column-heading {
  > h2 {
    font-size: 18px;
    font-weight: bold;
  }
}

.org-col-content {
  > p {
    font-size: 18px;
  }
}
