@import '../../assets/scss/imports';
.icon__close {
  &:before {
    content: '\e900';
  }
}

.icon__info {
  &:before {
    content: '\e902';
  }
}

.icon__warning {
  &:before {
    content: '\e902';
  }
}

.icon__error {
  &:before {
    content: '\e901';
  }
}

.icon__success {
  &:before {
    content: '\e903';
  }
}

.Toaster {
  .Toaster__manager-bottom-right {
    right: 20px !important;
    bottom: 40px !important;
    z-index: 99999 !important;
  }
}
.toast__content__container {
  width: 350px;
  display: flex;
  position: relative;

  .toast__icon {
    color: $primary_white;
  }

  .icon__close {
    position: absolute;
    right: 5px;
    top: 3px;
    cursor: pointer;
    font-size: 19px;
  }

  .toast__status__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    flex-shrink: 0;
    border-radius: 9px 0px 0px 9px;
    font-size: 24px;
  }

  .toast__message {
    padding: 16px 32px 15px 11px;
    border-radius: 0px 9px 9px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    > p {
      font-size: 14px;
      line-height: normal;
    }
  }

  &.info {
    .toast__status__icon {
      background: $primary_blue;
    }
    .toast__message {
      background: $Onahau;
    }
    .icon__close,
    .toast__message > p {
      color: $primary_blue;
    }
  }

  &.warning {
    .toast__status__icon {
      background: $WebOrange;
    }
    .toast__message {
      background: $EarlyDawn;
    }
    .icon__close,
    .toast__message > p {
      color: $WebOrange;
    }
  }

  &.success {
    .toast__status__icon {
      background: $OceanGreen;
    }
    .toast__message {
      background: $Scandal;
    }
    .icon__close,
    .toast__message > p {
      color: $OceanGreen;
    }
  }

  &.error {
    .toast__status__icon {
      background: $TorchRed;
    }
    .toast__message {
      background: $ClassicRose;
    }
    .icon__close,
    .toast__message > p {
      color: $TorchRed;
    }
  }
}
