@import '../../assets/scss/imports';
.detail-panel-container {
  overflow: auto;
  box-shadow: 0 0 10px 0 rgba(25, 25, 25, 0.54);
  background-color: $Alabaster;
  flex-direction: column;
  height: 100%;

  .detail-panel-title {
    position: relative;
    display: flex;
    padding: 0px 19px;
    color: $CapeCod;
    font-size: 18px;
    height: 63px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba($CapeCod, 0.1);
    a{
      text-decoration: none !important;
    }
  }
  .btn-download-icon {
    top: 0px;
    position: inherit;
    font-size: 14px;
    margin-left: 12px;
  }
  .i-modal-close {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 15px;
    cursor: pointer;
  }
  .tabs-btn-container {
    height: 50px;
    border-bottom: 1px solid rgba($CapeCod, 0.1);
    padding: 0px 19px;
    justify-content: space-around;
    .tab-btn {
      flex: 1 1;
      color: $primary_blue;
      font-size: 12px;
      font-weight: normal;
      height: 50px;
      min-width: 100px;
      padding: 23px 20px 10px 20px;
      &.active-tab {
        background-color: transparent !important;
        font-size: 16px;
        &:after {
          content: '';
          position: absolute;
          bottom: 0px;
          height: 3px;
          left: 0px;
          right: 0px;
          background: $primary_blue;
        }
      }
    }
  }
}
.detail-panel-body {
  padding: 0px 19px;
}
