@import '../../assets/scss/imports';

/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  font-size: 16px;
  color: $information_text;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 25px;
  &.radio-disabled {
    opacity: 0.4;
    cursor: no-drop;
  }
  &:last-child {
    margin-bottom: 0px;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .radio-checkbox {
      &:after {
        content: '\e936';
      }
    }
  }
  /* Create a custom radio button */
  .radio-checkbox {
    font-family: 'safecitydashboardicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    color: $radio_btn_bg;
    &:after {
      content: '\e937';
      display: block;
    }
  }
}
