.callContainer {
  position: fixed;
  height: 37px;
  width: 480px;
  z-index: 999999;
  right: -479px;
  bottom: 3px;
  background: #232323;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.54);
  border-top: 2px solid #222222;
  border-right: 2px solid #222222;
  border-left: 2px solid #222222;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  transition: 0.4s ease all;
  display: none;
  &.open {
    height: 500px;
    transition: 0.6s ease all;
  }
  &.visible {
    display: block;
  }
  .overlap-header {
    position: relative;
    z-index: 99999999;
    width: 100%;
    height: 35px;
    background: #7087a3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: -1px;
    cursor: pointer;
    &::after {
      content: "";
      width: 40px;
      height: 25px;
      position: absolute;
      top: 35px;
      background-color: #7087a3;
      z-index: 99999999999999999999999999;
    }
    > img {
      padding: 10px 15px;
      transform: rotate(180deg);
    }
    > i {
      font-size: 12px;
      padding: 10px 15px;
    }
    &.open {
      > img {
        transform: rotate(360deg);
      }
    }
  }
}
