@import '../../assets/scss/imports';

.admin-header {
  background: $MineShaft-bg;
  padding: 41px 39px 35px 39px;
  .title {
    color: $primary_white;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Avenir Roman';
  }
}
