@import '../../assets/scss/imports';

.formik-checkbox-container {
  position: relative;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:indeterminate {
      & ~ .checkmark {
        background-color: $DeYork;
        border-color: $DeYork;
        &:after {
          display: block;
        }
      }
    }
    &:checked {
      & ~ .checkmark {
        background-color: $DeYork;
        border-color: $DeYork;
        &:after {
          display: block;
        }
      }
    }
  }
  .checkmark {
    top: 50%;
    margin-top: -7.5px;
    &:after {
      left: 4px;
      top: 2px;
      width: 4px;
      height: 8px;
      border: solid $primary_white;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .checkbox-label {
    margin-left: 25px;
    line-height: 15px;
    color: $Gray-4;
  }
}
