@import '../../assets/scss/imports';
.user-settings-modal {
  max-width: 477px;
  min-width: 477px;
  width: 100%;
  overflow: hidden;
  position: relative;

  .btn-logout {
    position: absolute;
    bottom: 0px;
    left: 175px;
    width: 110px !important;
  }
  .form-submit-btn {
    width: 157px;
    height: 40px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background: $CyanAqua;
    color: $primary_white;
    transition: 0.25s ease-in-out all;
    outline: none;
    font-family: 'Avenir LT Std', sans-serif;
    &:disabled {
      color: $Jumbo;
      background: $Mercury-2;
      cursor: no-drop;
    }
  }
  .user-settings-modal-header {
    .title {
      color: $Black;
      font-size: 24px;
      font-weight: bold;
      display: flex;
      align-items: center;
      min-width: 0px;
      position: relative;
    }
    .student-logo {
      width: 30px;
      margin-right: 10px;
    }
    .i-modal-close {
      position: absolute;
      right: 0px;
      top: 6px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
